/* Global styles and typography */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

/* Header styles */
#logo {
  padding: 5px 15px;
}

#logo img {
  width: 50%;
  height: auto;
}

/* Forms */
.form-item input {
  max-width: 100%;
}

fieldset.group-at-asistentes-set .field-type-number-integer,
fieldset.group-taller-asistentes-set .field-type-number-integer,
fieldset.group-taller-costos .field-type-number-decimal {
  display: inline-block;
  margin: 0 30px 0 0;
}

fieldset.group-at-asistentes-set .field-type-number-integer:nth-child(n+4) label,
fieldset.group-at-asistentes-set .field-type-number-integer:nth-child(n+4) .form-required,
fieldset.group-at-asistentes-set .field-type-number-integer:nth-child(n+4) input,
fieldset.group-taller-asistentes-set .field-type-number-integer:nth-child(n+4) label,
fieldset.group-taller-asistentes-set .field-type-number-integer:nth-child(n+4) .form-required,
fieldset.group-taller-asistentes-set .field-type-number-integer:nth-child(n+4) input {
  color: #777;
}

#edit-field-tiempo-persona-und-0-target-id {
  max-width: 300px;
}

fieldset.filter-wrapper {
  top: 12px;
}

/* hide the taxonomy vocabulary tabs for the Administrador (NOT Drupal super, but CCMSS administrador) */
.page-admin-structure-taxonomy.role-administrador #content > .section > .tabs,
.page-admin-structure-taxonomy.role-colaborador #content > .section > .tabs {
  display: none;
}

/* Reports */
.view-actividades .view-content,
.hoja-de-tiempo-table {
  overflow: auto;
  border: 1px solid #eee;
  margin: 10px 0;
}

.view-actividades .view-content table.views-table {
  margin: 0;
}

.view-actividades .view-content table.views-table .views-field-field-at-resultados,
.view-actividades .view-content table.views-table .views-field-field-at-asistentes {
  display: none;
}

.view-actividades .view-content table.views-table.show-fullview .views-field-field-at-resultados,
.view-actividades .view-content table.views-table.show-fullview .views-field-field-at-asistentes {
  display: table-cell;
}


.hoja-de-tiempo-table tbody tr td:first-child {
  min-width: 150px;
}

.hoja-de-tiempo-table tbody tr.depth-0 {
  border-top: 4px solid #769e49;
}

.hoja-de-tiempo-table tbody tr.depth-1 td:first-child {
  padding-left: 30px;
}

.hoja-de-tiempo-table tbody .time-cell.no-laborado {
  background-color: #FFCCCC;
  color: #FFCCCC;
  font-size: .5em;
}

.hoja-de-tiempo-table tbody .time-cell.is-holiday {
  background-color: #DDD;
  color: #DDD;
  font-size: .5em;
}

.hoja-de-tiempo-table tbody .time-cell.is-holiday.has-time,
.hoja-de-tiempo-table tbody .time-cell.no-laborado.has-time {
  color: #333;
  font-size: 1em;
}

.hoja-de-tiempo-table tbody .time-cell.no-laborado.is-holiday {
  background-color: #EEBABA;
  color: #EEBABA;
  font-size: .5em;
}

.hoja-de-tiempo-table .summary-row {
  border-top: 4px solid #DDD;
  border-bottom: 4px solid #CCC;
  background-color: #F3F3F3;
}

/* Reporte de horas por persona, summary */
.table-controls {
  float: right;
  margin-bottom: .5em;
}
.table-controls .toggle-button {
  padding: 3px 5px;
  border-radius: 3px;
  background-color: #ccc;
  color: #333;
  font-size: .8751em;
  text-transform: lowercase;
}

.table-controls .toggle-button .led {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #666;
  margin-right: 8px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 0px #666;
}

.table-controls .toggle-button.on .led {
  background-color: #99ee66;
}

.view-tiempo .summary-table-container table tr.activity-row {
  display: none;
}
.view-tiempo .summary-table-container table.show-activities tr.activity-row.has-hours {
  display: table-row;
}

.view-tiempo .summary-table-container table tr.activity-row td:first-child {
  padding-left: 30px;
}

.view-tiempo .summary-table-container table tr.empty-hours {
  display: none;
}

.view-tiempo .summary-table-container table.show-empty-hours.show-activities tr.empty-hours {
  display: table-row;
}

/* Exposed filters */
.view-actividades .views-exposed-form .views-exposed-widget {
  min-height: 75px;
}

/* Asistencias técnicas and talleres exposed filters */
.view-actividades #edit-field-at-actividad-tid-wrapper,
.view-actividades #edit-field-taller-lugar-value-wrapper,
.view-actividades #edit-field-taller-proyecto-tid-wrapper {
  clear: left;
}

/* Node views */
.node-full h3.field-label {
  font-size: 1em;
  font-weight: bold;
}

.node-full .pane-node-field-taller-asistentes,
.node-full .pane-node-field-taller-asistentes-ccmss,
.node-full .pane-node-field-at-asistentes {
  background-color: #eee;
  border-radius: 3px;
  padding: 5px;
  margin: 15px 0;
}

.node-full .fieldgroup-header .pane-content {
  display: none;
}
