.remembered-date-and-user {
  border-radius: 3px;
  background-color: #F5C9C9;
  padding: 5px;
  margin-bottom: 15px;
}

.remembered-date-and-user a {
  color: #333;
}

.remembered-date-and-user a:hover {
  color: #000;
}
